body{
    background-image: url("images/background.jpg");
}
h1{
    text-align: center;
    padding: 5%;
    font-size: 5rem;
    color: white;
    font-family: 'Lobster', cursive;
}

.row{
    text-align: center;
    padding: 3%;
}
.p1{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: 'Moon Dance', cursive;
}
.p2{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: 'Moon Dance', cursive;
}
.button{
    text-align: center;
}

@media (min-width:768px){
.image1{
    text-align: right;
}
.image2{
    text-align: left;
}
.p1{
    font-size: 2rem;
    color: white;
    font-family: 'Moon Dance', cursive;
    text-align: right;
    padding-right: 10%;
}
.p2{
    font-size: 2rem;
    color: white;
    font-family: 'Moon Dance', cursive;
    text-align: left;
    padding-left: 10%;
}
}
